<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Kino :: create film</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>🎞 Kino 🎞 🎞 🎞🎞</h1>
        <div class="splashNavBar">
            <a href="/" >
                <button class="btn default" style="margin-left: 270px; margin-top: 50px; font-size: 18px;">Filmoversigt</button>
            </a>
            <a href="/calendar">
                <button class="btn default" style="margin-left: 168px; margin-top: 50px; font-size: 18px;">Bookingoversigt</button>
            </a>
            <a href="/simple-calendar">
                <button class="btn default" style="margin-left: 270px; margin-top: 10px; font-size: 18px;">Vagtplan</button>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="text-center text-uppercase ">
            <h2>Create film</h2>
        </div>

        <div class="container">
            <form action="/saveFilm" method="post">
                <table class="table table-hover table-striped " style="border: 1px solid #ddd">
                    <input type="hidden" id="filmID" name="filmID" value="-1">
                    <tr>
                        <td>Film titel</td>
                        <td>
                            <input type="text" id="title" name="title">
                        </td>
                    </tr>
                    <tr>
                        <td>Varighed i minutter</td>
                        <td>
                            <input type="text" id="duration" name="duration">
                        </td>
                    </tr>
                    <tr>
                        <td>Kategori</td>
                        <td>
                            <input type="text" id="category" name="category">
                        </td>
                    </tr>
                    <tr>
                        <td>Synlig?</td>
                        <td>
                            <input type="checkbox" id="visibleOnSite" name="visibleOnSite" checked="checked" value="TRUE">
                        </td>
                    </tr>
                    <tr>
                        <td>Hovedrolle 1</td>
                        <td>
                            <input type="text" id="actor1" name="actor1">
                        </td>
                    </tr>
                    <tr>
                        <td>Hovedrolle 2</td>
                        <td>
                            <input type="text" id="actor2" name="actor2">
                        </td>
                    </tr>
                    <tr>
                        <td>Hovedrolle 3</td>
                        <td>
                            <input type="text" id="actor3" name="actor3">
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</div>
</body>
</html>