<!DOCTYPE html>
<html lang='en'  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>
    <title>Rediger Film :: Kino</title>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>🎞 Kino 🎞 🎞 🎞🎞</h1>
        <h2> Redigér Film Informationer</h2>
        <div class="splashNavBar">
            <a href="/" >
                <button class="btn default" style="margin-left: 270px; margin-top: 50px; font-size: 18px;">Filmoversigt</button>
            </a>
            <a href="/calendar">
                <button class="btn default" style="margin-left: 168px; margin-top: 50px; font-size: 18px;">Bookingoversigt</button>
            </a>
            <a href="/simple-calendar">
                <button class="btn default" style="margin-left: 270px; margin-top: 10px; font-size: 18px;">Vagtplan</button>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="text-center text-uppercase ">
            <h2>Rediger film</h2>
        </div>

        <div class="container">
            <form action="/saveFilm" method="post">
                <table class="table table-hover table-striped " style="border: 1px solid #ddd">
                    <tr>
                        <input type="hidden" id="filmID" name="filmID" th:value="${film.getId()}">
                    </tr>

                    <tr>
                        <td>Film titel</td>
                        <td th:text="${film.getTitle()}"></td>
                        <td>
                            <input type="text" id="title" name="title" th:value="${film.getTitle()}">
                        </td>
                    </tr>
                    <tr>
                        <td>Varighed i minutter</td>
                        <td th:text="${film.getDuration()}"></td>
                        <td>
                            <input type="number" id="duration" name="duration" th:value="${film.getDuration()}">
                        </td>
                    </tr>
                    <tr>
                        <td>Kategori</td>
                        <td th:text="${film.getCategory()}"></td>
                        <td>
                            <input type="text" id="category" name="category" th:value="${film.getCategory()}">
                        </td>
                    </tr>
                    <tr>
                        <td>Synlig?</td>
                        <td>
                            <input type="checkbox" id="visibleOnSite" name="visibleOnSite" th:checked="${film.isVisibleOnSite()}" th:value="${'TRUE'}">
                        </td>
                    </tr>
                    <tr th:each="actor, status : ${film.getActors()}">
                            <td th:text="|Hovedrolle ${status.index+1}|"></td>
                            <td></td>
                            <td th:text="${actor.getName()}"></td>
                    </tr>
                    <tr>
                        <td>Ny hovedrolle</td>
                        <td></td>
                        <td>
                            <input type="text" id="actor1" name="actor1" value=" ">
                        </td>
                    </tr>

                    <input type="hidden" id="actor2" name="actor2" value=" ">
                    <input type="hidden" id="actor3" name="actor3" value=" ">
                </table>
                <input type="submit" value="Edit">
            </form>
        </div>
    </div>
</div>

</body>
</html>