<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Kino :: Medarbejder Home Page</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>:film_frames: Kino :film_frames: :film_frames: :film_frames::film_frames:</h1>
        <div>
            <form method="get" action="/employee-film-overview">
                <button class="btn default" style="margin-left: 270px; margin-top: 50px; font-size: 18px;">Filmoversigt</button>
            </form>
        </div>
        <div>
            <form method="get" action="/calendar">
                <button class="btn default" style="margin-left: 168px; margin-top: 50px; font-size: 18px;">Bookingoversigt</button>
            </form>
        </div>
            <!--            -->
            <!--            <button class="btn default" style="margin-left: 270px; margin-top: 10px; font-size: 18px;">Opdater og skab film</button>-->
            <!--                <form method="get" action="/employee-film-overview">-->
            <!--            <button class="btn default" style="margin-left: 100px; margin-top: 10px; font-size: 18px;">Billetsalg og Booking</button>-->
    </div>
</div>
</body>
</html>