<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <title>Title</title>
</head>
<body style="margin-top: 100px">
    <div class="container">
    <table class="table table-hover table-striped" style="border: 1px solid #ddd">
        <th:block th:each="film : ${films}">
            <tr>
                <td th:text="${film.getTitle()}"> </td>
                <td th:text="${film.getCategory()"}"></td>
              <!--  <td th:text="${film.actors}"> </td> -->
                <td th:text="${film.getPlayTime()}"></td>
            </tr>
        </th:block>

    </table>

    </div>
</body>
</html>