<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Kino :: Film Oversigt</title>
</head>
<body style="margin-top: 30px">

<div class="container">
    <div class="jumbotron">
        <h1>🎞 Kino 🎞 🎞 🎞🎞</h1>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="text-center text-uppercase ">
            <h2>Film Oversigt</h2>
        </div>

        <div class="container">
            <table class="table table-hover table-striped " style="border: 1px solid #ddd">

                <tr>
                    <td>Navn</td>
                    <td>Kategory</td>
                    <td>Spilletid</td>
                    <td>Skuespillere</td>
                </tr>
                    <tr th:each="film : ${films}">
                        <td th:text="${film.getTitle()}"></td>
                        <td th:text="${film.getCategory()}"></td>

                        <td th:text="${film.getDuration()}"></td>
                        <!--                <td th:text="${film.actors}"> </td> -->
                        <!-- if single 'CSV' string OR if list -->
                        <td>
                        <span th:each="actor :${ film.getActors()}">
                        <span th:text="${actor.getName() + ', '}"></span>
                        </span>
                        </td>

                    </tr>

            </table>

        </div>
    </div>
</div>

</body>
</html>

<!-- film unicode source : https://unicode-table.com/en/1F39E/ :: U+1F39E -->