<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kino - Film Overview</title>
</head>
<body>
<h1>Film oversigt</h1>

<table th:each="film:${films}">
<tr>
    <td>Id</td>
    <td>Navn</td>
    <td>Spilletid</td>
    <td>Kategory</td>
</tr>
    <td th:text="${''+ film.getId()}"></td>
    <td th:text="${''+ film.getTitle()}"></td>
    <td th:text="${''+ film.getPlayTime()}"></td>
    <td th:text="${''+ film.getCategory()}"></td>
</table>

</body>
</html>